body {
    margin: 10;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* #customers th:first-child,#customers td:first-child{
    width: 20px;
} */

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers tr.selected td{
    background-color: rgb(250, 246, 0);
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

canvas{
    border: 1px solid rgb(136, 0, 170);

}

label {
    width: 100px;
    margin-right: 10px;
    display: inline-block;
    text-align: left;
}​

table {
    border: 1px solid black;
    overflow: scroll;
  }

  th, td {
    border: 1px solid black;
    padding: 3px;
  }



  /* Create three equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }